<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baoquan.shuxin.dao.config.ConfigDao" >
  <resultMap id="BaseResultMap" type="com.baoquan.shuxin.model.config.Config" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="varname" property="varname" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="rules" property="rules" jdbcType="VARCHAR" />
    <result column="is_valid" property="isValid" jdbcType="TINYINT"/>
  </resultMap>
 	
  <select id="configTotal" resultType="java.lang.Integer">
  		SELECT
			COUNT(1)
		FROM
			config
  </select>
  
   <select id="configList" resultMap="BaseResultMap">
  		SELECT
			*
		FROM
			config
		where is_valid=1
		<if test="page != null">
	        limit ${page.startIndex},${page.pageSize};
	    </if>	
  </select>
  
  <update id="updateConfig" parameterType="Config" >
        update config set varname=#{varname},value=#{value},memo=#{memo} where id=#{id}
  </update>
  
	<insert id="insertConfig" parameterType="Config" 
        useGeneratedKeys="true" keyProperty="id"> 
        insert into config(varname,value,memo)  
             values(#{varname},#{value},#{memo})  
    </insert>
    
    <select id="findByIdConfig"  resultMap="BaseResultMap">
  		SELECT
			*
		FROM
			config
		where id=#{id}
  </select>
  
  <update id="deleteConfig" parameterType="Config" >
        update config set is_valid=#{isValid} where id=#{id}
  </update>
</mapper>